* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.text-title {
  color: black;
  font-weight: 600;
}

.menu-pages {
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  margin: 20px 0;
}
.menu-pages .menu ul {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-left: 0;
}
.menu-pages .menu ul li {
  padding: 10px;
}
.menu-pages .menu ul li a {
  color: #62646a;
}